@using Sidekick.Domain.Views

<div class="application-nav-bar">
    <MudAppBar Color="Color.Primary" Fixed="false" Elevation="0">
        @LeftContent
        <div class="icon"><img src="/images/orbs/ExaltedOrb.png" /></div>
        <MudText Typo="Typo.h6">
            <span id="sidekick-appbar-title">@ViewInstance.Title</span>
        </MudText>
        <MudSpacer />
        @RightContent
        @if (ViewInstance != null)
        {
            if (Minimizable)
            {
                <MudIconButton Icon="@Icons.Filled.Minimize" @onclick="ViewInstance.Minimize" />
            }
            if (Maximizable)
            {
                <MudIconButton Icon="@Icons.Filled.CropSquare" @onclick="ViewInstance.Maximize" />
            }
            <MudIconButton Class="close-button" Icon="@Icons.Filled.Close" @onclick="ViewInstance.Close" Edge="Edge.End" />
        }
    </MudAppBar>
</div>

@code {
    [Inject] private IViewInstance ViewInstance { get; set; }

    [Parameter] public bool Minimizable { get; set; } = false;
    [Parameter] public bool Maximizable { get; set; } = false;
    [Parameter] public RenderFragment LeftContent { get; set; }
    [Parameter] public RenderFragment RightContent { get; set; }
}
