::deep .mud-appbar {
    height: var(--mud-appbar-min-height);
}

    ::deep .mud-appbar .mud-toolbar-appbar {
        -webkit-app-region: drag;
        -webkit-user-select: none;
        min-height: var(--mud-appbar-min-height);
        margin: 4px 4px 0 4px;
        padding-left: 0;
        padding-right: 0;
    }

        ::deep .mud-appbar .mud-toolbar-appbar > button:first-child {
            right: 0;
            margin-left: calc(-4px + 2px);
        }

        ::deep .mud-appbar .mud-toolbar-appbar .icon {
            width: var(--mud-appbar-min-height);
            height: var(--mud-appbar-min-height);
            margin-top: calc(-4px * 2);
            margin-right: 2px;
            padding: 0 5px;
        }

            ::deep .mud-appbar .mud-toolbar-appbar .icon img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                image-rendering: -webkit-optimize-contrast;
            }

        ::deep .mud-appbar .mud-toolbar-appbar p {
            margin-top: -8px;
        }

        ::deep .mud-appbar .mud-toolbar-appbar button {
            -webkit-app-region: no-drag;
            margin: 0;
            top: -4px;
            right: -4px;
            width: calc(var(--mud-appbar-min-height) * 1.4);
            height: var(--mud-appbar-min-height);
            border-radius: 0;
            cursor: default;
        }

            ::deep .mud-appbar .mud-toolbar-appbar button.close-button:hover {
                color: var(--mud-palette-error-text);
                background-color: var(--mud-palette-error);
            }
