
.modifiers {
    color: #8888FF;

    ::deep {
        .modifier {
            position: relative;
            padding: 0 8px;

            .tier {
                position: absolute;
                top: 0;
                left: -6px;

                &.prefix {
                    color: #ec7676;
                }

                &.suffix {
                    color: #7aaff1;
                }
            }
        }
    }
}
