@using MediatR
@using Microsoft.Extensions.Logging
@using Sidekick.Domain.Game.Items.Metadatas
@using Sidekick.Domain.Game.Items.Models
@using Sidekick.Domain.Game.Trade
@using Sidekick.Domain.Game.Trade.Models
@using Sidekick.Domain.Game.Trade.Queries
@using Sidekick.Extensions
@using Sidekick.Localization.Trade
@page "/price/{itemText}"
@layout OverlayLayout

<PriceOptionsComponent Item="Item"
                       QueryId="@QueryResult?.Id"
                       @bind-Layout="Layout"
                       Count="Results?.Count ?? 0"
                       Total="QueryResult?.Total ?? 0" />

<div class="d-flex flex-row align-start mx-n1 mb-2">
    <PriceNinjaComponent Item="Item" Class="flex-grow-1 mx-1" />
    <PricePredictionComponent Item="Item" Class="flex-grow-1 mx-1" />
</div>

<FiltersComponent Item="Item" ModifierFilters="ModifierFilters" PropertyFilters="PropertyFilters" OnSearch="UpdateQuery" />

@if (IsError)
{
    <MudAlert Severity="Severity.Error">@Resources.Error_PoeApi</MudAlert>
}
else
{
    <MudGrid Spacing="1" Class="align-stretch">
        @if (Results != null)
        {
            foreach (var result in Results)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <ItemComponent Item="result" Style="height: 100%;" Layout="Layout" />
                </MudItem>
            }

            if (IsFetching)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton Height="100%" Width="100%" Style="min-height: 100px;" SkeletonType="SkeletonType.Rectangle" />
                </MudItem>
            }
        }
    </MudGrid>
}

@if (!IsFetching && !FullyLoaded && Results != null)
{
    <MudButton Variant="Variant.Outlined" Color="Color.Info" FullWidth="true" OnClick="LoadMoreData" Class="mt-2">@Resources.LoadMoreData</MudButton>
}

@code {
    [Inject] private IMediator Mediator { get; set; }
    [Inject] private IViewLocator ViewLocator { get; set; }
    [Inject] private IViewInstance ViewInstance { get; set; }
    [Inject] private ILogger<Prices> Logger { get; set; }
    [Inject] private ITradeSearchService TradeSearchService { get; set; }
    [Inject] private IItemStaticDataProvider ItemStaticDataProvider { get; set; }
    [Inject] private ISettings Settings { get; set; }
    [Inject] private TradeResources Resources { get; set; }

    [Parameter] public string ItemText { get; set; }

    private Item Item { get; set; }
    private PropertyFilters PropertyFilters { get; set; }
    private ModifierFilters ModifierFilters { get; set; }
    private TradeSearchResult<string> QueryResult { get; set; }
    private List<TradeItem> Results { get; set; }
    private bool FullyLoaded => (Results?.Count ?? 0) == (QueryResult?.Result?.Count ?? 0);
    private bool IsError { get; set; }
    private bool IsFetching { get; set; }
    private Layout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Item = await Mediator.Send(new ParseItemCommand(ItemText.DecodeBase64Url()));

        if (Item == null)
        {
            await ViewLocator.Open(View.Error, ErrorType.Unparsable);
            await ViewInstance.Close();
            return;
        }

        ViewInstance.SetTitle(Item.Original.Name);
        PropertyFilters = await Mediator.Send(new GetPropertyFilters(Item));
        ModifierFilters = await Mediator.Send(new GetModifierFilters(Item));

        if (Item.Metadata.Rarity != Rarity.Rare && Item.Metadata.Rarity != Rarity.Magic)
        {
            await UpdateQuery();
        }

        await base.OnInitializedAsync();
    }

    public async Task UpdateQuery()
    {
        Results = new List<TradeItem>();
        IsError = false;
        IsFetching = true;

        // if (Filters != null)
        // {
        //     var settingMods = Item.Metadata.Category switch
        //     {
        //         Category.Accessory => Settings.Price_Mods_Accessory,
        //         Category.Armour => Settings.Price_Mods_Armour,
        //         Category.Flask => Settings.Price_Mods_Flask,
        //         Category.Jewel => Settings.Price_Mods_Jewel,
        //         Category.Map => Settings.Price_Mods_Map,
        //         Category.Weapon => Settings.Price_Mods_Weapon,
        //         _ => new List<string>(),
        //     };
        //
        //     foreach (var filter in Filters.SelectMany(x => x.Filters))
        //     {
        //         if (settingMods.Contains(filter.Id))
        //         {
        //             if (!filter.Enabled)
        //             {
        //                 settingMods.Remove(filter.Id);
        //             }
        //         }
        //         else
        //         {
        //             if (filter.Enabled)
        //             {
        //                 settingMods.Add(filter.Id);
        //             }
        //         }
        //     }
        //
        //     await Mediator.Send(new SaveSettingsCommand(Settings));
        // }

        if (Item.Metadata.Rarity == Rarity.Currency && ItemStaticDataProvider.GetId(Item) != null)
        {
            QueryResult = await TradeSearchService.SearchBulk(Item);
        }
        else
        {
            QueryResult = await TradeSearchService.Search(Item, PropertyFilters, ModifierFilters);
        }

        IsFetching = false;

        if (QueryResult == null)
        {
            IsError = true;
        }
        else
        {
            await LoadMoreData();
        }
    }

    public async Task LoadMoreData()
    {
        if (IsFetching)
        {
            return;
        }

        var ids = QueryResult.Result.Skip(Results?.Count ?? 0).Take(10).ToList();
        if (ids.Count == 0)
        {
            return;
        }

        IsFetching = true;

        var result = await TradeSearchService.GetResults(QueryResult.Id, ids, ModifierFilters);
        if (result != null)
        {
            Results.AddRange(result);
        }

        IsFetching = false;
    }
}
