
<div class="image-container">
    <img src="@Item.Image" />
    <div class="sockets">
        <ItemSocketsComponent Item="Item" />
    </div>
</div>

@code {
    [Parameter] public TradeItem Item { get; set; }
}
