
<div class="separator @BackgroundClass"></div>

@code {
    [Parameter] public Item Item { get; set; }

    private string BackgroundClass => Item?.Metadata?.Rarity switch
    {
        Rarity.Currency => "separator-currency",
        Rarity.Magic => "separator-magic",
        Rarity.Prophecy => "separator-prophecy",
        Rarity.Rare => "separator-rare",
        Rarity.Unique => "separator-unique",
        _ => "separator-normal",
    };
}
