
@if (Modifiers.Count > 0)
{
    <div class="modifiers">
        @foreach (var modifier in Modifiers)
        {
            <MudText Typo="Typo.body1" Class="modifier font-smallcaps" Align="Align.Center">
                @modifier.Text
                @if (!String.IsNullOrWhiteSpace(modifier.Tier))
                {
                    <span class="tier @GetTierClass(modifier.Tier)">@modifier.Tier</span>
                }
            </MudText>
        }
    </div>

    <ItemSeparatorComponent Item="Item" />
}

@code {
    [Parameter] public Item Item { get; set; }
    [Parameter] public List<Modifier> Modifiers { get; set; }

    private string GetTierClass(string tier) => tier.StartsWith("P") ? "prefix" : "suffix";
}
