#blazor-error-ui {
  color: black; }
  #blazor-error-ui .reload, #blazor-error-ui .dismiss {
    color: black; }

@font-face {
  font-family: 'fontin';
  src: url("/fonts/fontin-bold-webfont.woff2") format("woff2"), url("/fonts/fontin-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'fontin';
  src: url("/fonts/fontin-italic-webfont.woff2") format("woff2"), url("/fonts/fontin-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'fontin';
  src: url("/fonts/fontin-regular-webfont.woff2") format("woff2"), url("/fonts/fontin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontin-smallcaps';
  src: url("/fonts/fontin-smallcaps-webfont.woff2") format("woff2"), url("/fonts/fontin-smallcaps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

::-webkit-scrollbar {
  width: 12px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.font-smallcaps {
  font-family: 'fontin-smallcaps'; }
