
<div class="d-flex align-center @Class">
    <RewardValue Value="Model.Value" />
    <MudText Typo="Typo.body2">
        @Model.Name
    </MudText>
    @if (Model.BehindFracturedWall)
    {
        <MudTooltip Text="@Resources.FracturedWall">
            <img src="/images/delve/FracturedWall.png" class="mr-2" />
        </MudTooltip>
    }
</div>

@code {
    [Inject] private DelveResources Resources { get; set; }

    [Parameter] public DelveFossil Model { get; set; }
    [Parameter] public string Class { get; set; }
}
