
<MudListItem Class="py-0">
    <div class="d-flex align-center">
        <div class="flex-grow-0">
            <RewardValue Value="Model.Value" />
        </div>
        @if (Model.BehindFracturedWall)
        {
            <div class="flex-grow-0">
                <MudTooltip Text="@Resources.FracturedWall">
                    <img src="/images/delve/FracturedWall.png" class="mr-2" />
                </MudTooltip>
            </div>
        }
        <MudText Typo="Typo.body2">
            @Model.Name
        </MudText>
    </div>
</MudListItem>

@code {
    [Inject] private DelveResources Resources { get; set; }

    [Parameter] public DelveFossil Model { get; set; }
}
