
<div class="d-flex align-center @Class">
    <MudText Typo="TextSize" Class="flex-grow-0 tier" Color="Color.Info">
        <MudTooltip Text="@TierTooltip">
            @TierLabel
        </MudTooltip>
    </MudText>
    <div>
        <RewardThumbs Value="Model.Value" />
    </div>
    <MudText Typo="TextSize">
        @Model.Name
    </MudText>
</div>

@code {
    [Parameter] public Typo TextSize { get; set; }
    [Parameter] public string TierLabel { get; set; }
    [Parameter] public string TierTooltip { get; set; }
    [Parameter] public RoomTierModel Model { get; set; }
    [Parameter] public string Class { get; set; }
}
