
<MudListItem Class="py-0">
    <div class="d-flex align-center">
        <MudTooltip Text="@Label">
            <MudText Typo="Typo.h6"
                     Class="d-inline-block type"
                     Color="Color.Info">
                @Label[..1]
            </MudText>
        </MudTooltip>
        <RewardValue Value="Model.Value" />
        <MudTooltip Text="@Model.Tooltip">
            @Model.Reward
        </MudTooltip>
    </div>
</MudListItem>

@code {
    [Parameter] public BetrayalReward Model { get; set; }
    [Parameter] public string Label { get; set; }
}
