@page "/update"
@layout StartupLayout

<SidekickLogo />
<MudCard Class="my-4">
    <MudCardContent>
        <MudText Typo="Typo.body1"
                 Align="Align.Center">
            @Title
        </MudText>
        <MudProgressLinear Color="Color.Primary"
                           Indeterminate="true" />
    </MudCardContent>
</MudCard>
<div class="d-flex justify-end">
    <MudButton OnClick="Exit"
               Variant="Variant.Text"
               Color="Color.Default">
        @UpdateResources.Exit
    </MudButton>
</div>
