
<MudListItem Class="py-0">
    <div class="d-flex align-center">
        <div class="flex-grow-0 mr-2">
            <img src="/images/heist/@Model.Image" alt="@Model.Name" class="rounded-pill" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">
                @Model.Name (@Resources.MaxLevel @Model.MaxLevel)
            </MudText>
        </div>
    </div>
</MudListItem>

@code {
    [Inject] private HeistResources Resources { get; set; }

    [Parameter] public HeistAlly Model { get; set; }
}
