
<MudPaper Class="pa-2">
    <div class="d-flex align-center">
        <div class="flex-grow-0 mr-2">
            <img src="/images/heist/@Model.Image" alt="@Model.JobName" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.h3">
                @Model.JobName
            </MudText>
        </div>
    </div>
    @foreach (var reward in Model.Rewards)
    {
        <Reward Model="reward" Class="mt-1" />
    }
    <MudDivider Class="mt-1 mb-2" />
    @foreach (var ally in Model.Allies)
    {
        <Ally Model="ally" Class="mt-1" />
    }
</MudPaper>

@code {
    [Parameter] public HeistJob Model { get; set; }
}
