
<div class="d-flex align-center @Class">
    <div class="flex-grow-0 mr-2">
        <RewardValue Value="Model.Value" />
    </div>
    <div class="flex-grow-0 mr-2">
        <img src="/images/heist/@Model.Image" alt="@Model.Reward" />
    </div>
    <div class="flex-grow-1">
        <MudText Typo="Typo.body2">
            @Model.Reward
        </MudText>
    </div>
</div>

@code {
    [Parameter] public HeistReward Model { get; set; }
    [Parameter] public string Class { get; set; }
}
