
<div class="d-flex flex-row justify-center align-center">
    <MudText Typo="Typo.h3">@Value.ToString("#.##")</MudText>
    <MudText Typo="Typo.body1" Class="mx-1">&times;</MudText>
    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <img src="@ImageUrl" />
    }
</div>

@code {
    [Inject] private Sidekick.Domain.Game.Items.Metadatas.IItemStaticDataProvider ItemStaticDataProvider { get; set; }
    [Inject] private Sidekick.Domain.Game.Languages.IGameLanguageProvider GameLanguageProvider { get; set; }

    [Parameter] public string Currency { get; set; } = "chaos";
    [Parameter] public double Value { get; set; }

    private string ImageUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ImageUrl = new Uri($"{GameLanguageProvider.Language.PoeCdnBaseUrl}{ItemStaticDataProvider.GetImage(Currency)}").AbsoluteUri;
        await base.OnParametersSetAsync();
    }
}
