
@if (Filters != null && Filters.Count > 0)
{
    <div class="mb-2">
        <MudText Typo="Typo.h5" Class="px-2">@Title</MudText>
        @foreach (var filter in Filters)
        {
            <PropertyFilterComponent Filter="filter" />
        }
    </div>
}

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public List<PropertyFilter> Filters { get; set; }
}
