
<MudListItem>
    <div class="d-flex align-center">
        <MudText Typo="TextSize" Class="flex-grow-0 tier" Color="Color.Info">
            <MudTooltip Text="@TierTooltip">
                @TierLabel
            </MudTooltip>
        </MudText>
        <div>
            <RewardValue Value="Model.Value" />
        </div>
        <MudText Typo="TextSize">
            @Model.Name
        </MudText>
    </div>
</MudListItem>

@code {
    [Parameter] public Typo TextSize { get; set; }
    [Parameter] public string TierLabel { get; set; }
    [Parameter] public string TierTooltip { get; set; }
    [Parameter] public IncursionRoomTier Model { get; set; }
}
