
<MudPaper>
    <div class="d-flex align-center pa-2">
        <div class="flex-grow-0 mr-2">
            <img src="/images/blight/@Model.Image" alt="@Model.Name" />
        </div>
        <div class="flex-grow-1">
            <div class="d-flex align-center">
                <MudText Typo="Typo.h3">
                    @Model.Name
                </MudText>
            </div>
            <MudText Typo="Typo.body1">
                @((MarkupString)Model.Description)
            </MudText>
        </div>
    </div>
    <RewardProgress Value="Model.Value"></RewardProgress>
</MudPaper>

@code {
    [Parameter] public BlightOil Model { get; set; }
}
