::deep.mudblazor-container {
    height: 100%;

    .mud-main-content {
        height: calc(100% - var(--mud-appbar-min-height));
        overflow-y: auto;
        margin-top: var(--mud-appbar-min-height);
        padding-top: 0;
    }
}
