@using Sidekick.Domain.Views

<div class="application-nav-bar">
    <MudAppBar Color="Color.Primary">
        @LeftContent
        @if (!string.IsNullOrEmpty(Title))
        {
            <MudText Typo="Typo.body1">@Title</MudText>
        }
        <MudAppBarSpacer />
        @RightContent
        @if (View.HasValue)
        {
            <MudIconButton Icon="@Icons.Filled.Close"
                           Color="Color.Inherit"
                           @onclick="Close"
                           Edge="Edge.End" />
        }
    </MudAppBar>
</div>

@code {
    [Inject] private IViewLocator ViewLocator { get; set; }

    [Parameter] public RenderFragment LeftContent { get; set; }
    [Parameter] public RenderFragment RightContent { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public View? View { get; set; } = null;

    public void Close()
    {
        if (View.HasValue)
        {
            ViewLocator.Close(View.Value);
        }
    }
}
