@page "/"
@namespace Sidekick.Presentation.Blazor.Electron.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidekick</title>
    <base href="~/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="Sidekick.Presentation.Blazor.Electron.styles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <style>
        #blazor-error-ui {
            width: 100vw;
            height: 100vh;
            background: var(--mud-palette-background);
        }

        #blazor-error-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <component type="typeof(Sidekick.Presentation.Blazor.Shared.App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <div id="blazor-error-content">
            <div class="mud-alert mud-alert-filled-error mud-elevation-0 mb-4">
                <div class="mud-alert-message">
                    <h6 class="mud-typography mud-typography-h6 mud-inherit-text">
                        An error has occurred.
                    </h6>
                </div>
            </div>
            <button id="close" type="button" class="mud-button-root mud-button mud-button-filled mud-button-filled-primary mud-button-filled-size-medium mud-ripple">
                <span class="mud-button-label">Close this window</span>
            </button>
        </div>
    </div>

    <script>
        (function () {
            const { ipcRenderer } = require('electron');
            const viewName = window.location.pathname.split('/')[1];

            document.getElementById('close').addEventListener('click', () => {
                ipcRenderer.sendSync("close", viewName);
            });
        }());
    </script>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
